<link rel="stylesheet" href="./style/style.css" />

<header>
  <h2>WE NEED YOUR SUPPORT</h2>
 <!-- <img src="pic.jpg" alt="pic" /> -->
</header>


<main>
  <article>
    <img src="../picture/chocolate.jpg" alt="chocolate.jpg" height="350" while="300" />
    <h3>Ice-Cream Chocolate</h3>

    <form action="vote" method="post">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="enter your email"
      />
      <input type="hidden" name="icecream" value="Chocolate" vote="vote"/>

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img
      src="../picture/blueberry.webp" alt="blueberry.webp" height="350" while="300" />
    <h3>Ice-Cream Blueberry</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="enter your email"
      />
      <input type="hidden" name="icecream" value="Blueberry" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/pear.jpg " alt="pear.jpg" height="350" while="300" />
    <h3>Ice-Cream Pear</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input type="text"id="email" name="email" placeholder="enter your email" />
      <input type="hidden" name="icecream" value="Pear" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/kiwi.jpg " alt="kiwi.jpg" height="350" while="300" />
    <h3>Ice-Cream Kiwi</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input type="text" id="email" name="email" placeholder="enter your email" />
      <input type="hidden" name="icecream" value="Kiwi" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/limon.jpg " alt="limon.jpg" height="350" while="300" />
    <h3>Ice-Cream Limon</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input type="text" id="email" name="email" placeholder="enter your email"/>
      <input type="hidden" name="icecream" value="Limon" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/milk.jpg " alt="milk.jpg" height="350" while="350" />
    <h3>Ice-Cream Milk</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input type="text" id="email" name="email" placeholder="enter your email" />
      <input type="hidden" name="icecream" value="Milk" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/mint.jpg " alt="mint.jpg" height="350" while="300" />
    <h3>Ice-Cream Mint</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input type="text" id="email" name="email" placeholder="enter your email" />
      <input type="hidden" name="icecream" value="Mint" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/mocca.jpg " alt="mocca.jpg" height="350" while="300" />
    <h3>Ice-Cream Mocca</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input type="text" id="email" name="email" placeholder="enter your email" />
      <input type="hidden" name="icecream" value="Mocca" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/orange.jpg " alt="orange.jpg" height="350" while="300" />
    <h3>Ice-Cream Orange</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="enter your email"
      />
      <input type="hidden" name="icecream" value="Orange" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/strawberry.jpg " alt="strawberry.jpg" height="350" while="300" />
    <h3>Ice-Cream Strawberry</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="enter your email"
      />
      <input type="hidden" name="icecream" value="Strawberry" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>

  <article>
    <img src="../picture/vanilla.jpg " alt="vanilla.jpg" height="350" while="300" />
    <h3>Ice-Cream Vanilla</h3>

    <form action="Vote" method="post">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="enter your email"
      />
      <input type="hidden" name="icecream" value="Vanilla" />

      <button>VOTE</button>
      <span>Votes: 0</span>
    </form>
  </article>
</main>
 