<link rel="stylesheet" href="./style/style.css">

    <h2>we need your support</h2>
    <article>
        <h3>chocolate ice cream</h3>
        <img src="../picture/chocolate.jpg" alt="chocolate.jpg">
        <p>The mayor explained that while it might be "impossible" to return 
            to full capacity right away, "it can be done in a reduced way".
            According to Terekhov, as of 30 March, as a result of Russian actions, 
            1,531 civilian infrastructure facilities have been destroyed in the city, 
            including 1,292 residential buildings, 
            70 schools, 54 kindergartens, 16 hospitals, and 239 administrative buildings.</p>

            <form action="vote" method="post">
                <label for="email">your email</label>
                <input type="text" id="email" name="email">
                <input type="number" name="articleID" value="1">

                <button>send</button>
                <span>Votes: 1</span>
            </form>
    </article>  


    <article>
        <h3>chocolate ice cream</h3>
        <img src="../picture/chocolate.jpg" alt="chocolate.jpg">
        <p>The mayor explained that while it might be "impossible" to return 
            to full capacity right away, "it can be done in a reduced way".
            According to Terekhov, as of 30 March, as a result of Russian actions, 
            1,531 civilian infrastructure facilities have been destroyed in the city, 
            including 1,292 residential buildings, 
            70 schools, 54 kindergartens, 16 hospitals, and 239 administrative buildings.</p>

            <form action="Vote" method="post">
                <label for="email">your email</label>
                <input type="text" id="email" name="email">
                <input type="number" name="articleID" value="2">

                <button>VOTE</button>
                <span>Votes: 2</span>
            </form>
    </article>


