<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>startPage</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <div class="firstWrapper">
      <div class="secondWrapper">
        <h2>Welcome To Our Survey</h2>
        <h4>Join us to support our survey and add new products if you would like to.</h4>
        <a href="/login">Log In</a>
        <h4>Don't you have an accoun?</h4>
        <a href="/singUp">Sing Up</a>
      </div>
    </div>
    
  </body>
</html>
